@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@500&display=swap");
:root {
	--primary: #1a1a1a;
	--secondary: #fcf7f8;
	--paper: #fcfdedf3;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	background: var(--paper);
	color: #111;
}

.container {
	background-color: var(--paper);
}

main.blur {
  filter: blur(6px) brightness(0.6);
}

.topBar {
	display: grid;
	background-color: brown;
	justify-content: space-between;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem 2rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.leftBar {
	display: flex;
	flex-direction: column;
	gap: 0;
	margin: 0;
	padding: 0;
}

.leftBar h1, .leftBar p {
	margin: 0;
	padding: 0;
	color: beige;
}

.leftBar p {
	font-weight: 100;
}

.middleBar {
	justify-self: end;
}

main{
	padding: 1rem 2rem;
	margin: 0;
}

#libraryList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}


.dltButton {
	background-color: brown;
	color: beige;
	border: none;
	font-family: "Inter", sans-serif;
	cursor: pointer;
}

.edtButton {
	background-color: black;
	color: beige;
	border: none;
	font-family: "Inter", sans-serif;
	cursor: pointer;
}

#coverURL {
	border-radius: 100px;
}

.modal {
	background-color: brown;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	position: fixed;
	padding: 2em;
	border-radius: 2px;
}

.modal-content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#form {
	display: flex;
	gap: 2em;
	align-items: center;
}

.hidden {
	display: none;
}

#read {
	display: flex;
	justify-content: center;
}

label {
	color: beige;
}

.formInput {
	border: none;
}

#coverURL{
	border-radius: 0px;
}

#submitButton {
	background-color: beige;
	color: brown;
	border: none;
}

#closeModal {
	background-color: black;
	color: beige;
	border: none;
}
